.navbar {
	display: flex;
	flex-direction: row;
	gap: 90px;
	justify-content: center;
	margin-bottom: 50px;
	background-color: gray;
}

.navbar * {
	font-size: 20px;
	color: white;
	padding: 15px;
	text-decoration: none;
}

.navbar *:hover {
	color: lightgreen;
}

.contact {
	background-color: lightgreen;
}

.contact:hover {
	color: white;
}
