.navbar {
	display: flex;
	flex-direction: row;
	gap: 90px;
	justify-content: center;
	margin-bottom: 50px;
	background-color: gray;
}

.navbar * {
	font-size: 20px;
	color: white;
	padding: 15px;
	text-decoration: none;
}

.navbar *:hover {
	color: lightgreen;
}

.coupon {
	background-color: lightgreen;
}

.coupon:hover {
	color: white;
}

.merchantContainer {
	display: flex;
	flex-direction: row;
	margin: 30px;
	padding: 10px;
	flex-wrap: wrap;
}

.merchantContainer > * {
	padding: 20px;
	margin: 10px;
}

.couponContainer {
	display: flex;
	flex-direction: row;
	gap: 100px;
	justify-content: center;
	align-items: center;
	height: 60vh;
	border: 2px solid black;
	margin: 100px;
	background-color: azure;
}

.firstColumn {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.secondColumn {
	display: flex;
	flex-direction: column;
	gap: 15px;
	border-left: 2px solid grey;
	padding-left: 20px;
}
