.navbar {
	display: flex;
	flex-direction: row;
	gap: 90px;
	justify-content: center;
	margin-bottom: 50px;
	background-color: gray;
}

.navbar * {
	font-size: 20px;
	color: white;
	padding: 15px;
	text-decoration: none;
}

.navbar *:hover {
	color: lightgreen;
}

.home:hover {
	color: white;
}

.home {
	background-color: lightgreen;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 70vh;
	align-items: center;
	background-image: url("../public/static/images/home/background.jpg");
	background-size: 100%;
}

.content > * {
	font-size: 70px;
	position: absolute;
	right: 60px;
}

.coupon {
	color: white;
	font-style: normal;
}
