.navbar {
	display: flex;
	flex-direction: row;
	gap: 90px;
	justify-content: space-evenly;
	margin-bottom: 50px;
	background-color: gray;
}

.navbar * {
	font-size: 20px;
	font-family: "Rajdhani", sans-serif;
	color: white;
	padding: 15px;
	text-decoration: none;
}

#productName {
	font-size: 25px;
}

.navbar *:hover {
	color: rgb(39, 158, 255);
}

.profile {
	background-color: rgb(39, 158, 255);
}

.profile:hover {
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70vh;
	align-items: center;
	border-radius: 30px;
	filter: drop-shadow(10px 10px 10px grey);
}

.container div {
	text-align: left;
	margin: 10px;
	font-size: 17px;
}

.container .name {
	font-size: 50px;
}

.container i {
	margin: 20px;
}

.grid {
}
